    header {
      text-align: center;
      background: url("http://www.hdbloggers.net/wp-content/uploads/2016/10/HD-Abstract-Art-Cool-Wallpaper.jpg");
      background-size:cover;
      color: white;
    }
    
    h4 {
      color:blue;
      text-align: center;
    }
    #bigdi {
      width:100%;
    }
    #rekt {
    float: right;
    
      
    }
    .nav {
      color: white;
    }
    
    #bigdiv {
      width:200%;
    }
    
    a {
      text-decoration: none;
    }
    
    #rekt
      float:right;
      

    h1 {
      font-size: 100px;
      color:blue;
      font-family: "courier", Times, serif;
      font-style: oblique;
      font-weight: normal;
      font-variant: normal;
      padding: 5px;
    }
    
    h3 {
      color:red;
      text-align: center;
      
    }
    
    img {
      margin: 40px 0px 0px 0px;
      border-radius: 360px;
      transition: 0.3s;
      width: 30%;
    }
    
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      font-family: cursive;
      font-size: 19px;
    }
    
    li {
      display: inline;
      text-decoration: none;
      padding: 0px 10px 0px 10px;
    }
    
    body {
      background-color:black;
    }
    
    div{
      max-width: 500px;
      padding: 20px;
      margin: right;
      border-style: inset;
      border-style: solid;
      border:2px solid red;
      border-radius: 10px;
      color:white;
      font-family: "courier", Times, serif;
      float: left;
    }
    
    button {
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 12px;
      background-color: yellow;
      color: black;
      border: 2px solid white;
    }
    
    @media (max-width: 500px) {
    
      li {
        padding: 5px;
        display: block;
      }
    }