h1 {
    color:green;
    font-size: 40px;
    
}
h2 {
    color:green;
     font-size: 40px;
}
p {
    color:white;
     font-size: 15px;
      font-family: "courier"
      
}
body {
    background-color: black;
}
